* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sideBarContainer {
    /* background-color: #101414; */

}

.imge {
    width: 60px;
    height: 50px;
}

.mainSection {
    background-image: linear-gradient(to left, #252627e0, #352844);
}

.homeContainer {
    background-image: linear-gradient(to left, #252627, #352844bd);
}

.imge {
    bottom: 1rem;
    position: relative;
}

.emailSection {
    transition: all 0.3s ease-in-out 0s;
    color: #ffffff;
}

.hireMeBtn {
    background-image: linear-gradient(to left, #134b83, #4a1388);
}

.gradient-text {
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #770bf1);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

/* .homePgeSection {
    background-image: linear-gradient(to right, rgba(29, 28, 28, 0.842), rgba(36, 33, 33, 0.925)), url('../../public/Imges/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.timeCls {
    /* padding: 16px; */
    /* margin: 20px; */

    background-color: #1d2936e8;
}

.hoverActive {
    visibility: hidden;
}

.colorHr {
    height: 2px;
}

.active:hover .hoverActive {
    visibility: visible;

}