* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sideBarContainer {
    /* background-color: #101414; */

}

.homePgeSection {
    background-image: linear-gradient(to right, rgba(29, 28, 28, 0.842), rgba(36, 33, 33, 0.925)), url('../../public/Imges/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.timeCls {
    /* padding: 16px; */
    /* margin: 20px; */

    background-color: #1d2936e8;
}

.hoverActive {
    visibility: hidden;
}

.colorHr {
    height: 2px;
}

.active:hover .hoverActive {
    visibility: visible;

}